# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Node
node_modules/
dist/
.vite/

# Entorno / secretos
.env
.env.prod
backend/.env
frontend/.env
*.local

# OS / editor
.DS_Store
.idea/
.vscode/

# Backups de BD (no versionar dumps)
backups/

